.myprofile button {
  border: none;
  outline: none;
}

.card-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: black;
  height: 70vh;
  width: 55vw;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  padding: 30px;
}
.card-profile p {
  margin: 20px;
}
.item-a {
  grid-area: email;
}
.item-b {
  grid-area: password;
}
.item-c {
  grid-area: readwise;
}
.item-d {
  grid-area: mem;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 15px;
  grid-template-areas:
    "email email-button "
    "password password-button "
    "readwise readwise-input "
    "mem mem-input";
}
.card-profile img {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.button-save {
  margin-top: 30px;
  height: 30px;
  width: 50%;
}
