.profile-box {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: black;
  border-radius: 20px;
  backdrop-filter: blur(13px) saturate(0%);
  -webkit-backdrop-filter: blur(13px) saturate(0%);
  background-color: rgba(6, 16, 40, 0.9);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow: hidden;
}
.inactive {
  display: none;
}

@keyframes modal-apparition {
}
