.auth {
  position: fixed;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 30px;
}
.auth button {
  outline: non;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
.auth input {
  outline: none;
  border: none;
  height: 30px;
  margin: 0 20px;
  background-color: grey;
  padding: 0 10px;
}
